<h1>Log Out</h1>
<div id="user_header">
  <% if logged_in? %>
    <%= link_to 'Logout', logout_path, method: :delete %>
  <% else %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Log In", login_path %>
  <% end %>
</div>