<!DOCTYPE html>
<html>
  <head>
    <title>Upscore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id="user_header">
      <% if logged_in? %>
        <%= link_to 'Logout', logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign Up", new_user_path %>
        <%= link_to "Log In", login_path %>
      <% end %>
      //pff
    </div>
  </body>
</html>
